* {
    box-sizing:border-box;
}

body {
    max-width: 896px;
    max-height: 800px;
    background-color: red;
}

.container{
    background-color: blue;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.topo{
    background-color: white;
    height: 120px;
    width: 100%;
    position: relative;
}

.logoUol img{
    width: 115px;
    height: 80px;
    margin-top: 28px;
    margin-left: 10px;
    position: absolute;
}

.logo {
    font-size: 60px;
    margin-top: 25px;
    margin-left: 320px;
    position: absolute;
}

.meio{
    background-color: #E5E5E5;
    height: 620px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.baixo {
    background-color: black;
    height: 120px;
    width: 100%;
    position: relative;
}

.mensagem {
    display: flex;
    height: 20px;
    width: 100%;
}

.status {
    background-color: #DCDCDC;
}

.reservadas{
    background-color: #FFDEDE;
}

.paraTodos {
    background-color: #FFFFFF;
}

.pergunta {
    display: flex;
}

.input {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: absolute;
}

.escreva a{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 40px;
    width: 340px;
    margin-top: 40px;
    margin-left: 10px;
}

.botao ion-icon{
    margin-left: 10px;
    font-size: 40px;
    margin-top: 40px;
    background-color: #FFFFFF;
} 